#iface {
  background-color: #EBF2F2;
  width: 100%;
}

input#message {
  background-color: #384445;
  border: none;
  outline: none;
  box-shadow: none;
  font-size: 1.6em;
  font-weight: 300;
  margin-bottom: 1em;
  padding: 1.2em .7em;
  color: #94AAAC;
  width: 80%;
  float: left;
}

input.submit {
  background-color: #00A8B6;
  color: white;
  float: right;
  width: 20%;
  border: 0;
  padding: 1.02em .7em;
  font-size: 1.2em;
  cursor: pointer;
}

.details-container {
  width: 100%;
  background-color: #fff;
  padding: 1.4em;
  margin-bottom: 5px;
  display: block;
  clear: both;
  border-left: 6px solid #00A8B6;
}

.details-container p {
  margin-bottom: 0;
}

button {
  background-color: #D4E0E1;
  color: #465057;
  padding: 10px;
  width: auto;
  margin: 0;
  font-size: .8em;
  float: right;
  margin-left: 20px;
}
